[env]
DB_HOST = ""
DB_PORT = ""
DB_NAME = ""
DB_USER = "aldra"
DB_PASSWORD = "aldra"
AWS_DEFAULT_REGION = ""
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
S3_ENDPOINT_URL = ""
S3_DATA_BUCKET = ""
COGNITO_USER_POOL_ID = ""
COGNITO_CLIENT_ID = ""

